<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imagine.myapplication">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApplication"
        >
        <activity android:name=".MainActivity"
            android:configChanges = "orientation"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Community.Community_Activity"
            android:configChanges = "orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".PostActivitys.GifPostActivity"
            android:configChanges = "orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".PostActivitys.LinkPostActivity"
            android:configChanges = "orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".PostActivitys.MultiPicturePostActivity"
            android:configChanges = "orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".PostActivitys.PicturePostActivity"
            android:configChanges = "orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".PostActivitys.RepostPostActivity"
            android:configChanges = "orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".PostActivitys.TranslationPostActivity"
            android:configChanges = "orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".PostActivitys.YouTubePostActivity"
            android:configChanges = "orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".PostActivitys.ThoughtPostActivity"
            android:configChanges = "orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".user_classes.UserActivity"
            android:configChanges = "orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".LoginActivity"
            android:configChanges = "orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".CommunityPicker.CommunityPickActivity"
            android:configChanges = "orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".Community.Community_ViewPager_Activity"
            android:configChanges = "orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".Community.ArgumentActivity"
            android:configChanges = "orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".Community.Community_All_Communities_Activity"
            android:configChanges = "orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".Community.Community_New_Community_Activity"
            android:configChanges = "orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".PostActivitys.TestZoomImage"
            android:configChanges = "orientation"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>